= CSV.generate_line(['Domain',
                     'Created',
                     'Server',
                     'SSL?',
                     'Status',
                     'Traffic',
                     'Files',
                     'Responsive?',
                     'Speed Score',
                     'Usability Score',
                     'Nameservers',
                     'A Record',
                     'MX Record'])

- @domains.each do |domain|
  - data = [domain.name,
            domain.plesk_created_date,
            domain.plesk_server.host,
            domain.is_ssl,
            domain.status]
  - if domain.stat.present?
    - data.concat([format_mb(domain.stat['traffic'].to_i),
                   format_mb(domain.disk_usage['httpdocs'].to_i)])
  - else
    - data.concat(['', ''])
  - if domain.speed_score.present?
    - data.concat([domain.has_viewport,
                   domain.speed_score,
                   domain.usability_score])
  - else
    - data.concat(['', '', ''])
  - if domain.a_record.present?
    - data.concat([format_nameservers(domain.nameservers),
                   domain.a_record,
                   domain.mx_record])
  - else
    - data.concat(['', '', ''])
  = CSV.generate_line(data).html_safe
